# Traitement des dataframes et nettoyage des donn√©es

In [172]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset 2019

In [13]:
data_2019 = pd.read_csv('../raw_data/ped_data_2019.csv')

In [14]:
data_2019

,Time,O'Connell St Outside Pennys,O'Connell St Outside Clerys,Mary Street,Capel Street,Aston Quay,Grafton Street @ CompuB,Talbot Street North,"Doilier Street, Burgh Quay",Dawson Street Replacement,...,"College Green, Bank Of Ireland",Henry Street,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side
0,01-01-2019 00:00:00,244,1914.0,20,16,NaN,NaN,NaN,NaN,NaN,...,NaN,95.0,1670.0,255.0,881.0,1988.0,140.0,NaN,NaN,NaN
1,01-01-2019 00:15:00,454,NaN,24,62,NaN,NaN,NaN,NaN,NaN,...,NaN,265.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01-01-2019 00:30:00,391,NaN,69,99,NaN,NaN,NaN,NaN,NaN,...,NaN,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-01-2019 00:45:00,415,NaN,50,61,NaN,NaN,NaN,NaN,NaN,...,NaN,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-01-2019 01:00:00,319,885.0,24,47,NaN,NaN,NaN,NaN,NaN,...,NaN,90.0,767.0,209.0,723.0,1270.0,215.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35031,31-12-2019 22:45:00,389,NaN,13,38,797.0,782.0,52.0,173.0,6.0,...,283.0,NaN,NaN,NaN,NaN,NaN,NaN,303.0,280.0,221.0
35032,31-12-2019 23:00:00,324,1967.0,18,39,914.0,743.0,48.0,220.0,1.0,...,287.0,NaN,1217.0,NaN,936.0,2898.0,1220.0,278.0,256.0,212.0
35033,31-12-2019 23:15:00,306,NaN,19,69,724.0,821.0,38.0,241.0,4.0,...,266.0,NaN,NaN,NaN,NaN,NaN,NaN,278.0,249.0,287.0
35034,31-12-2019 23:30:00,249,NaN,11,69,971.0,795.0,69.0,357.0,5.0,...,302.0,NaN,NaN,NaN,NaN,NaN,NaN,403.0,319.0,207.0
35035,31-12-2019 23:45:00,302,NaN,14,52,513.0,556.0,47.0,339.0,1.0,...,372.0,NaN,NaN,NaN,NaN,NaN,NaN,360.0,222.0,155.0

##  Je splite le dataframe 2019 pour traiter les donn√©es horaires uniquement.

In [15]:
data_2019_cleaned = data_2019.loc[:,['Time','O\'Connell St Outside Clerys', 'Dawson Street Replacement', 'Westmoreland Street East', 'Dawson Street',\
'Liffey Street', 'Westmoreland Street West', 'Grafton Street']]

In [16]:
data_2019_cleaned

,Time,O'Connell St Outside Clerys,Dawson Street Replacement,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street
0,01-01-2019 00:00:00,1914.0,NaN,1670.0,255.0,881.0,1988.0,140.0
1,01-01-2019 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01-01-2019 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-01-2019 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-01-2019 01:00:00,885.0,NaN,767.0,209.0,723.0,1270.0,215.0
...,...,...,...,...,...,...,...,...
35031,31-12-2019 22:45:00,NaN,6.0,NaN,NaN,NaN,NaN,NaN
35032,31-12-2019 23:00:00,1967.0,1.0,1217.0,NaN,936.0,2898.0,1220.0
35033,31-12-2019 23:15:00,NaN,4.0,NaN,NaN,NaN,NaN,NaN
35034,31-12-2019 23:30:00,NaN,5.0,NaN,NaN,NaN,NaN,NaN
35035,31-12-2019 23:45:00,NaN,1.0,NaN,NaN,NaN,NaN,NaN

### Concat√©nation de la colonne Dawson Street pour un capteur remplac√©

In [17]:
data_2019_cleaned['Dawson total']=\
pd.concat([data_2019_cleaned['Dawson Street'].iloc[:30000],\
           data_2019_cleaned['Dawson Street Replacement'].iloc[30000:]])

In [18]:
data_2019_cleaned = data_2019_cleaned.drop(columns=['Dawson Street','Dawson Street Replacement'])

In [465]:
# Je renomme Dawson Street
data_2019_cleaned = data_2019_cleaned.rename(columns = {'Dawson total' : 'Dawson Street'})

### On ne garde que les comptage horaires

In [19]:
for i in range(data_2019_cleaned.shape[0]):
    if i%4 != 0 :
        data_2019_cleaned = data_2019_cleaned.drop(index = i)

In [21]:
data_2019_cleaned = data_2019_cleaned.reset_index(drop=True)

In [22]:
data_2019_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time                         8759 non-null   object
 1   O'Connell St Outside Clerys  8759 non-null   float64
 2   Westmoreland Street East     8759 non-null   float64
 3   Liffey Street                8759 non-null   float64
 4   Westmoreland Street West     8759 non-null   float64
 5   Grafton Street               8759 non-null   float64
 6   Dawson total                 7607 non-null   float64
dtypes: float64(6), object(1)
memory usage: 479.1+ KB

Il reste toujours √† combler la colonne Dawson Street

## Je passe au reste du dataframe 2019

In [124]:
data_2019_test = data_2019.drop(columns=['Time','O\'Connell St Outside Clerys', 'Dawson Street Replacement', 'Westmoreland Street East', 'Dawson Street',\
'Liffey Street', 'Westmoreland Street West', 'Grafton Street'])

In [125]:
data_2019_test

,O'Connell St Outside Pennys,Mary Street,Capel Street,Aston Quay,Grafton Street @ CompuB,Talbot Street North,"Doilier Street, Burgh Quay",Dame Street,Talbot Street South,"O'Connell St, Parnell St @ AIB",Grafton Street / Nassau Street / Suffolk Street,"College Green, Bank Of Ireland",Henry Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side
0,244,20,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN
1,454,24,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,265.0,NaN,NaN,NaN
2,391,69,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0,NaN,NaN,NaN
3,415,50,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN
4,319,24,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35031,389,13,38,797.0,782.0,52.0,173.0,226.0,445.0,165.0,144.0,283.0,NaN,303.0,280.0,221.0
35032,324,18,39,914.0,743.0,48.0,220.0,274.0,353.0,124.0,110.0,287.0,NaN,278.0,256.0,212.0
35033,306,19,69,724.0,821.0,38.0,241.0,274.0,277.0,141.0,170.0,266.0,NaN,278.0,249.0,287.0
35034,249,11,69,971.0,795.0,69.0,357.0,383.0,348.0,110.0,116.0,302.0,NaN,403.0,319.0,207.0
35035,302,14,52,513.0,556.0,47.0,339.0,288.0,584.0,137.0,135.0,372.0,NaN,360.0,222.0,155.0

In [117]:
data_2019_rest_recept = data_2019_rest

In [118]:
for column in data_2019_rest:
    for i in range(1,data_2019_rest.shape[0]):
        if i%4 == 0 :
            data_2019_rest_recept.loc[i, column] = sum(data_2019_rest.loc[i-3:i, column])

### J'enl√®ve tout ce qui n'est pas un comptage horaire.

In [119]:
for i in range(test_sum.shape[0]):
    if i%4 != 0 :
        data_2019_rest_recept = data_2019_rest_recept.drop(index = i)
    data_2019_rest_recept = data_2019_rest_recept

In [121]:
data_2019_rest_recept = data_2019_rest_recept.reset_index(drop=True)

In [135]:
data_2019_rest_recept.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 16 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   O'Connell St Outside Pennys                      8759 non-null   int64
 1   Mary Street                                      8759 non-null   int64
 2   Capel Street                                     8759 non-null   int64
 3   Aston Quay                                       7340 non-null   float64
 4   Grafton Street @ CompuB                          7390 non-null   float64
 5   Talbot Street North                              7346 non-null   float64
 6   Doilier Street, Burgh Quay                       7387 non-null   float64
 7   Dame Street                                      7390 non-null   float64
 8   Talbot Street South                              7382 non-null   float64
 9   O'Connell St, Parnell St @ AIB                   6908 non-null   float64
 10  Grafton Street / Nassau Street / Suffolk Street  7390 non-null   float64
 11  College Green, Bank Of Ireland                   7390 non-null   float64
 12  Henry Street                                     7103 non-null   float64
 13  Bachelors Walk                                   7237 non-null   float64
 14  College Green @ Church Lane                      7243 non-null   float64
 15  College Green - Dame St Side                     7243 non-null   float64
dtypes: float64(13), int64(3)
memory usage: 1.1 MB

## Je reforme le dataframe 2019

In [215]:
df2019_cleaned = pd.concat([data_2019_cleaned,data_2019_rest_recept], axis=1)

In [152]:
# Il manque un comptage √† 01:00:00 le 31-03-2019

df2019_cleaned.iloc[2136:2138]

,Time,O'Connell St Outside Clerys,Westmoreland Street East,Liffey Street,Westmoreland Street West,Grafton Street,Dawson total,O'Connell St Outside Pennys,Mary Street,Capel Street,...,"Doilier Street, Burgh Quay",Dame Street,Talbot Street South,"O'Connell St, Parnell St @ AIB",Grafton Street / Nassau Street / Suffolk Street,"College Green, Bank Of Ireland",Henry Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side
2136,31-03-2019 00:00:00,495.0,431.0,434.0,841.0,941.0,333.0,795,78,196,...,1568.0,737.0,3004.0,389.0,353.0,1112.0,299.0,693.0,681.0,518.0
2137,31-03-2019 02:00:00,343.0,269.0,354.0,736.0,931.0,232.0,507,50,112,...,1356.0,539.0,3070.0,239.0,239.0,780.0,179.0,487.0,404.0,348.0

### Je remplis les valeurs manquantes

In [418]:
df2019_cleaned

,Time,O'Connell St Outside Clerys,Westmoreland Street East,Liffey Street,Westmoreland Street West,Grafton Street,Dawson total,O'Connell St Outside Pennys,Mary Street,Capel Street,...,"Doilier Street, Burgh Quay",Dame Street,Talbot Street South,"O'Connell St, Parnell St @ AIB",Grafton Street / Nassau Street / Suffolk Street,"College Green, Bank Of Ireland",Henry Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side
0,01-01-2019 00:00:00,1914.0,1670.0,881.0,1988.0,140.0,255.0,244,20,16,...,NaN,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN
1,01-01-2019 01:00:00,885.0,767.0,723.0,1270.0,215.0,209.0,1579,167,269,...,NaN,NaN,NaN,NaN,NaN,NaN,592.0,NaN,NaN,NaN
2,01-01-2019 02:00:00,984.0,642.0,1010.0,1589.0,210.0,193.0,1164,85,149,...,NaN,NaN,NaN,NaN,NaN,NaN,349.0,NaN,NaN,NaN
3,01-01-2019 03:00:00,935.0,582.0,772.0,1534.0,204.0,178.0,1204,79,125,...,NaN,NaN,NaN,NaN,NaN,NaN,322.0,NaN,NaN,NaN
4,01-01-2019 04:00:00,390.0,143.0,197.0,610.0,88.0,35.0,1308,52,179,...,NaN,NaN,NaN,NaN,NaN,NaN,288.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,31-12-2019 19:00:00,1750.0,763.0,910.0,1929.0,1190.0,43.0,1634,236,331,...,278.0,1070.0,811.0,916.0,453.0,1026.0,NaN,1017.0,1040.0,803.0
8755,31-12-2019 20:00:00,1644.0,727.0,989.0,1984.0,1239.0,61.0,1571,226,324,...,352.0,1118.0,740.0,823.0,451.0,1027.0,NaN,1098.0,1115.0,1026.0
8756,31-12-2019 21:00:00,1554.0,752.0,779.0,2120.0,1314.0,6.0,1432,131,271,...,450.0,1194.0,990.0,628.0,384.0,1079.0,NaN,1203.0,984.0,767.0
8757,31-12-2019 22:00:00,1972.0,997.0,823.0,2461.0,1315.0,9.0,1415,86,218,...,492.0,1335.0,1434.0,509.0,424.0,1124.0,NaN,1358.0,903.0,750.0
8758,31-12-2019 23:00:00,1967.0,1217.0,936.0,2898.0,1220.0,1.0,1425,64,197,...,745.0,1123.0,1575.0,532.0,487.0,1170.0,NaN,1130.0,1004.0,859.0

In [420]:
df_test = df2019_cleaned.copy()

In [421]:
# Je reprendrai cette strat√©gie pour les diff√©rentes colonnes des dataset suivants.
df_test['Time'] = pd.to_datetime(df_test['Time'])

In [422]:
# J'ajoute une colonne pour rassembler tous les comptages par heure

df_test['hour_cycle'] = 0
for i in range(df_test.shape[0]):
    df_test['hour_cycle'][i] = df_test['Time'][i].hour

/tmp/ipykernel_1516/8810359.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['hour_cycle'][i] = df_test['Time'][i].hour

In [423]:
df_test

,Time,O'Connell St Outside Clerys,Westmoreland Street East,Liffey Street,Westmoreland Street West,Grafton Street,Dawson total,O'Connell St Outside Pennys,Mary Street,Capel Street,...,Dame Street,Talbot Street South,"O'Connell St, Parnell St @ AIB",Grafton Street / Nassau Street / Suffolk Street,"College Green, Bank Of Ireland",Henry Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side,hour_cycle
0,2019-01-01 00:00:00,1914.0,1670.0,881.0,1988.0,140.0,255.0,244,20,16,...,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN,0
1,2019-01-01 01:00:00,885.0,767.0,723.0,1270.0,215.0,209.0,1579,167,269,...,NaN,NaN,NaN,NaN,NaN,592.0,NaN,NaN,NaN,1
2,2019-01-01 02:00:00,984.0,642.0,1010.0,1589.0,210.0,193.0,1164,85,149,...,NaN,NaN,NaN,NaN,NaN,349.0,NaN,NaN,NaN,2
3,2019-01-01 03:00:00,935.0,582.0,772.0,1534.0,204.0,178.0,1204,79,125,...,NaN,NaN,NaN,NaN,NaN,322.0,NaN,NaN,NaN,3
4,2019-01-01 04:00:00,390.0,143.0,197.0,610.0,88.0,35.0,1308,52,179,...,NaN,NaN,NaN,NaN,NaN,288.0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,2019-12-31 19:00:00,1750.0,763.0,910.0,1929.0,1190.0,43.0,1634,236,331,...,1070.0,811.0,916.0,453.0,1026.0,NaN,1017.0,1040.0,803.0,19
8755,2019-12-31 20:00:00,1644.0,727.0,989.0,1984.0,1239.0,61.0,1571,226,324,...,1118.0,740.0,823.0,451.0,1027.0,NaN,1098.0,1115.0,1026.0,20
8756,2019-12-31 21:00:00,1554.0,752.0,779.0,2120.0,1314.0,6.0,1432,131,271,...,1194.0,990.0,628.0,384.0,1079.0,NaN,1203.0,984.0,767.0,21
8757,2019-12-31 22:00:00,1972.0,997.0,823.0,2461.0,1315.0,9.0,1415,86,218,...,1335.0,1434.0,509.0,424.0,1124.0,NaN,1358.0,903.0,750.0,22
8758,2019-12-31 23:00:00,1967.0,1217.0,936.0,2898.0,1220.0,1.0,1425,64,197,...,1123.0,1575.0,532.0,487.0,1170.0,NaN,1130.0,1004.0,859.0,23

In [425]:
df_test['hour_cycle'].value_counts()

0     365
13    365
22    365
21    365
20    365
19    365
18    365
17    365
16    365
15    365
14    365
12    365
11    365
10    365
9     365
8     365
7     365
6     365
5     365
4     365
3     365
2     365
23    365
1     364
Name: hour_cycle, dtype: int64

In [429]:
# Je sors toutes les colonnes avec des valeurs manquantes
df_test_2 = df_test[['Dame Street', 'Aston Quay','Grafton Street @ CompuB','Talbot Street North',\
                     'Doilier Street, Burgh Quay','Dame Street','Talbot Street South',\
                     'O\'Connell St, Parnell St @ AIB','Grafton Street / Nassau Street / Suffolk Street',\
                     'College Green, Bank Of Ireland','Henry Street','Bachelors Walk',\
                     'College Green @ Church Lane','College Green - Dame St Side' ,'hour_cycle']]

In [430]:
# je les rassemble par heure, en virant les Nan
df_test_2_count = df_test_2.dropna().groupby(by="hour_cycle").agg('median').reset_index(drop=False)

In [431]:
#J'obtiens la distribution m√©diane par heure pour chaque rue
df_test_2_count

,hour_cycle,Dame Street,Aston Quay,Grafton Street @ CompuB,Talbot Street North,"Doilier Street, Burgh Quay",Dame Street,Talbot Street South,"O'Connell St, Parnell St @ AIB",Grafton Street / Nassau Street / Suffolk Street,"College Green, Bank Of Ireland",Henry Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side
0,0,363.0,522.0,890.0,92.0,442.0,363.0,1903.0,244.0,168.0,436.0,218.0,254.0,328.0,258.0
1,1,182.0,234.5,434.0,47.5,151.0,182.0,2556.5,118.0,73.0,212.0,99.0,108.5,116.5,104.5
2,2,123.0,143.0,291.0,29.0,96.0,123.0,2445.0,69.0,40.0,147.0,55.0,66.0,63.0,53.0
3,3,108.0,116.0,254.0,21.0,195.0,108.0,2003.0,60.0,36.0,133.0,47.0,56.0,51.0,50.0
4,4,85.0,87.0,216.0,18.0,40.0,85.0,1606.0,44.0,21.0,119.0,47.0,46.0,37.0,23.0
5,5,48.0,48.0,141.0,17.0,19.0,48.0,1240.0,34.0,20.0,81.0,50.0,24.0,23.0,24.0
6,6,82.0,84.0,245.0,27.0,67.0,82.0,1179.0,79.0,39.0,113.0,126.0,42.0,68.0,81.0
7,7,393.0,371.0,1007.0,85.0,421.0,393.0,1824.0,237.0,164.0,303.0,403.0,232.0,474.0,349.0
8,8,617.0,619.0,1732.0,186.0,722.0,617.0,2241.0,415.0,328.0,490.0,823.0,505.0,704.0,904.0
9,9,996.0,914.0,2387.0,252.0,943.0,996.0,1954.0,776.0,701.0,911.0,1668.0,708.0,1327.0,1773.0
10,10,886.0,707.0,2073.0,203.0,793.0,886.0,763.0,768.0,516.0,798.0,1928.0,410.0,994.0,1122.0
11,11,962.0,714.0,2149.0,195.0,756.0,962.0,670.0,942.0,559.0,987.0,2605.0,523.0,1060.0,1042.0
12,12,1111.0,798.0,2517.0,226.0,771.0,1111.0,736.0,1088.0,662.0,1186.0,3225.0,671.0,1233.0,1127.0
13,13,1417.0,1025.0,3038.0,306.0,935.0,1417.0,1202.0,1436.0,902.0,1367.0,4220.0,825.0,1536.0,1466.0
14,14,1527.0,1111.0,3177.0,282.0,954.0,1527.0,1256.0,1423.0,1030.0,1474.0,4530.0,881.0,1638.0,1486.0
15,15,1428.0,1016.0,3062.0,238.0,827.0,1428.0,916.0,1281.0,871.0,1498.0,4190.0,796.0,1471.0,1278.0
16,16,1435.5,1120.5,3128.0,233.5,818.5,1435.5,879.5,1340.5,873.0,1620.5,4179.5,755.5,1508.5,1321.0
17,17,1529.5,1304.0,3323.0,271.5,885.5,1529.5,1154.0,1487.5,1013.5,1799.0,4433.5,745.5,1620.0,1612.0
18,18,1631.5,1403.5,3478.5,280.0,953.5,1631.5,1467.0,1579.5,1208.0,1924.5,4487.0,883.0,1716.5,2056.0
19,19,1295.0,1306.0,3144.0,233.0,824.0,1295.0,1559.0,1418.0,791.0,1593.0,3351.0,768.0,1415.0,1418.0
20,20,1038.0,1142.0,2552.0,146.0,739.0,1038.0,1443.0,1140.0,499.0,1283.0,1935.0,760.0,1116.0,916.0
21,21,820.0,1008.0,2025.0,127.0,648.0,820.0,1268.0,844.0,356.0,1010.0,1087.0,643.0,894.0,641.0
22,22,719.0,915.0,1650.0,110.0,627.0,719.0,1086.0,601.0,283.0,849.0,629.0,544.0,710.0,512.0
23,23,674.0,834.0,1452.0,105.0,629.0,674.0,1303.0,447.0,277.0,719.0,395.0,473.0,599.0,426.0

Liste des rues avec des valeurs manquantes :

Aston Quay                                         1419 <br>
Grafton Street @ CompuB                            1369<br>
Talbot Street North                                1413<br>
Doilier Street, Burgh Quay                         1372<br>
Dame Street                                        1369<br>
Talbot Street South                                1377<br>
O'Connell St, Parnell St @ AIB                     1851<br>
Grafton Street / Nassau Street / Suffolk Street    1369<br>
College Green, Bank Of Ireland                     1369<br>
Henry Street                                       1656<br>
Bachelors Walk                                     1522<br>
College Green @ Church Lane                        1516<br>
College Green - Dame St Side                       1516<br>

In [321]:
df_test.describe()

,O'Connell St Outside Clerys,Westmoreland Street East,Liffey Street,Westmoreland Street West,Grafton Street,Dawson total,O'Connell St Outside Pennys,Mary Street,Capel Street,Aston Quay,...,Dame Street,Talbot Street South,"O'Connell St, Parnell St @ AIB",Grafton Street / Nassau Street / Suffolk Street,"College Green, Bank Of Ireland",Henry Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side,hour_cycle
count,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,7607.000000,8759.000000,8759.000000,8759.000000,7340.000000,...,7390.000000,7382.000000,6908.000000,7390.000000,7390.000000,7103.000000,7237.000000,7243.000000,7243.000000,8759.000000
mean,1021.754082,543.128439,771.072040,998.951935,1224.335883,343.045090,1407.714922,236.107204,256.269551,965.179155,...,799.207984,2273.700352,723.681529,459.918539,791.244790,1797.965648,786.472295,848.796769,782.146486,11.501199
std,717.378340,399.249513,689.053236,629.605104,1113.288473,345.033782,1157.034060,259.109360,275.685225,754.700161,...,556.455263,2948.484265,545.835246,383.601685,614.331854,1750.289867,1326.440921,601.960309,618.814204,6.922068
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,...,0.000000,4.000000,0.000000,0.000000,0.000000,5.000000,0.000000,2.000000,0.000000,0.000000
25%,311.500000,160.500000,133.000000,447.000000,288.000000,33.500000,343.000000,24.000000,56.000000,425.000000,...,266.000000,956.000000,163.750000,114.000000,243.000000,149.000000,180.000000,261.000000,178.000000,6.000000
50%,1049.000000,532.000000,620.000000,1017.000000,827.000000,224.000000,1102.000000,119.000000,234.000000,865.500000,...,786.000000,1451.000000,709.000000,371.500000,670.500000,1054.000000,540.000000,843.000000,746.000000,12.000000
75%,1609.000000,833.000000,1288.000000,1409.000000,1959.500000,591.000000,2397.500000,399.000000,407.000000,1236.250000,...,1228.000000,2150.000000,1229.000000,748.000000,1224.000000,3417.000000,885.000000,1367.000000,1249.000000,17.500000
max,3798.000000,2852.000000,4388.000000,3280.000000,5427.000000,2047.000000,4803.000000,1257.000000,5900.000000,4637.000000,...,2395.000000,17414.000000,2043.000000,2640.000000,4233.000000,6774.000000,11345.000000,2351.000000,3889.000000,23.000000

# Dataset 2020

In [163]:
data_2020 = pd.read_csv('../raw_data/ped_data_2020.csv')

In [168]:
data_2020.shape

(8784, 23)

# Liste des capteurs ajout√©s en 2021 (√† retirer ?)

2   Baggot st lower/Wilton tce inbound               5079 non-null   float64<br>
 3   Baggot st upper/Mespil rd/Bank <br>

 15  Grand Canal st upp/Clanwilliam place             5078 non-null   float64<br>
 16  Grand Canal st upp/Clanwilliam place/Google<br>

Newcomen Bridge/Charleville mall inbound         5075 non-null   float64<br>
 21  Newcomen Bridge/Charleville mall outbound        5074 non-null   float64<br>
 22  North Wall Quay/Samuel Beckett bridge East       5087 non-null   float64<br>
 23  North Wall Quay/Samuel Beckett bridge West <br>

27  Phibsborough Rd/Enniskerry Road                  5087 non-null   float64<br>
 28  Phibsborough Rd/Munster St                       798 non-null    float64<br>
 29  Richmond st south/Portabello Harbour inbound     5079 non-null   float64<br>
 30  Richmond st south/Portabello Harbour outbound<br>