In [2]:
import pandas as pd

# 1 Traitement des dataframes et nettoyage des données

In [6]:
data_2019 = pd.read_csv('../raw_data/dcc-2019-pedestrian-footfall-count-jan-dec_14082020.csv')

In [7]:
data_2019

,Time,O'Connell St Outside Pennys,O'Connell St Outside Clerys,Mary Street,Capel Street,Aston Quay,Grafton Street @ CompuB,Talbot Street North,"Doilier Street, Burgh Quay",Dawson Street Replacement,...,"College Green, Bank Of Ireland",Henry Street,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side
0,01-01-2019 00:00:00,244,1914.0,20,16,NaN,NaN,NaN,NaN,NaN,...,NaN,95.0,1670.0,255.0,881.0,1988.0,140.0,NaN,NaN,NaN
1,01-01-2019 00:15:00,454,NaN,24,62,NaN,NaN,NaN,NaN,NaN,...,NaN,265.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01-01-2019 00:30:00,391,NaN,69,99,NaN,NaN,NaN,NaN,NaN,...,NaN,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-01-2019 00:45:00,415,NaN,50,61,NaN,NaN,NaN,NaN,NaN,...,NaN,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-01-2019 01:00:00,319,885.0,24,47,NaN,NaN,NaN,NaN,NaN,...,NaN,90.0,767.0,209.0,723.0,1270.0,215.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35031,31-12-2019 22:45:00,389,NaN,13,38,797.0,782.0,52.0,173.0,6.0,...,283.0,NaN,NaN,NaN,NaN,NaN,NaN,303.0,280.0,221.0
35032,31-12-2019 23:00:00,324,1967.0,18,39,914.0,743.0,48.0,220.0,1.0,...,287.0,NaN,1217.0,NaN,936.0,2898.0,1220.0,278.0,256.0,212.0
35033,31-12-2019 23:15:00,306,NaN,19,69,724.0,821.0,38.0,241.0,4.0,...,266.0,NaN,NaN,NaN,NaN,NaN,NaN,278.0,249.0,287.0
35034,31-12-2019 23:30:00,249,NaN,11,69,971.0,795.0,69.0,357.0,5.0,...,302.0,NaN,NaN,NaN,NaN,NaN,NaN,403.0,319.0,207.0
35035,31-12-2019 23:45:00,302,NaN,14,52,513.0,556.0,47.0,339.0,1.0,...,372.0,NaN,NaN,NaN,NaN,NaN,NaN,360.0,222.0,155.0

In [75]:
data_2019.shape

(35036, 24)

In [8]:
data_2019.isna().sum()

Time                                                   0
O'Connell St Outside Pennys                            0
O'Connell St Outside Clerys                        26277
Mary Street                                            0
Capel Street                                           0
Aston Quay                                          5664
Grafton Street @ CompuB                             5472
Talbot Street North                                 5641
Doilier Street, Burgh Quay                          5484
Dawson Street Replacement                          31673
Dame Street                                         5472
Talbot Street South                                 5496
O'Connell St, Parnell St @ AIB                      7400
Grafton Street / Nassau Street / Suffolk Street     5472
College Green, Bank Of Ireland                      5472
Henry Street                                        6624
Westmoreland Street East                           26277
Dawson Street                                      28269
Liffey Street                                      26277
Westmoreland Street West                           26277
Grafton Street                                     26277
Bachelors Walk                                      6081
College Green @ Church Lane                         6060
College Green - Dame St Side                        6060
dtype: int64

##  1-1 Je splite le dataframe 2019 pour traiter les données horaires uniquement.

In [127]:
data_2019_cleaned = data_2019.loc[:,['Time','O\'Connell St Outside Clerys', 'Dawson Street Replacement', 'Westmoreland Street East', 'Dawson Street',\
'Liffey Street', 'Westmoreland Street West', 'Grafton Street']]

In [128]:
data_2019_cleaned

,Time,O'Connell St Outside Clerys,Dawson Street Replacement,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street
0,01-01-2019 00:00:00,1914.0,NaN,1670.0,255.0,881.0,1988.0,140.0
1,01-01-2019 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01-01-2019 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01-01-2019 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-01-2019 01:00:00,885.0,NaN,767.0,209.0,723.0,1270.0,215.0
...,...,...,...,...,...,...,...,...
35031,31-12-2019 22:45:00,NaN,6.0,NaN,NaN,NaN,NaN,NaN
35032,31-12-2019 23:00:00,1967.0,1.0,1217.0,NaN,936.0,2898.0,1220.0
35033,31-12-2019 23:15:00,NaN,4.0,NaN,NaN,NaN,NaN,NaN
35034,31-12-2019 23:30:00,NaN,5.0,NaN,NaN,NaN,NaN,NaN
35035,31-12-2019 23:45:00,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [130]:
data_2019_cleaned['Dawson total']=\
pd.concat([data_2019_cleaned['Dawson Street'].iloc[:30000],\
           data_2019_cleaned['Dawson Street Replacement'].iloc[30000:]])

In [131]:
data_2019_cleaned = data_2019_cleaned.drop(columns=['Dawson Street','Dawson Street Replacement'])

In [132]:
data_2019_cleaned.shape[0]

35036

In [133]:
for i in range(data_2019_cleaned.shape[0]):
    if i%4 != 0 :
        data_2019_cleaned = data_2019_cleaned.drop(index = i)

In [134]:
data_2019_cleaned

,Time,O'Connell St Outside Clerys,Westmoreland Street East,Liffey Street,Westmoreland Street West,Grafton Street,Dawson total
0,01-01-2019 00:00:00,1914.0,1670.0,881.0,1988.0,140.0,255.0
4,01-01-2019 01:00:00,885.0,767.0,723.0,1270.0,215.0,209.0
8,01-01-2019 02:00:00,984.0,642.0,1010.0,1589.0,210.0,193.0
12,01-01-2019 03:00:00,935.0,582.0,772.0,1534.0,204.0,178.0
16,01-01-2019 04:00:00,390.0,143.0,197.0,610.0,88.0,35.0
...,...,...,...,...,...,...,...
35016,31-12-2019 19:00:00,1750.0,763.0,910.0,1929.0,1190.0,43.0
35020,31-12-2019 20:00:00,1644.0,727.0,989.0,1984.0,1239.0,61.0
35024,31-12-2019 21:00:00,1554.0,752.0,779.0,2120.0,1314.0,6.0
35028,31-12-2019 22:00:00,1972.0,997.0,823.0,2461.0,1315.0,9.0
35032,31-12-2019 23:00:00,1967.0,1217.0,936.0,2898.0,1220.0,1.0

In [135]:
data_2019_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759 entries, 0 to 35032
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time                         8759 non-null   object
 1   O'Connell St Outside Clerys  8759 non-null   float64
 2   Westmoreland Street East     8759 non-null   float64
 3   Liffey Street                8759 non-null   float64
 4   Westmoreland Street West     8759 non-null   float64
 5   Grafton Street               8759 non-null   float64
 6   Dawson total                 7607 non-null   float64
dtypes: float64(6), object(1)
memory usage: 547.4+ KB

pour Dawson Street, le comptage s'arrête à l'index 27064    173.0.

C'est environ le 281ème jour.

Pour Dawson Street Replacement, le comptage commence à l'index 31673  2157.0

C'est le 35ème jour avant le 31/12, ce qui correspond au 27/11 indiqué.

In [80]:
data_2020 = pd.read_csv('../raw_data/jan-dec-2020-ped-data.csv')

In [81]:
data_2020

,Date & Time,Aston Quay,Bachelors Walk,Capel Street - Removed from site 20/10,College Green - Dame St Side,College Green @ Church Lane,"College Green, Bank Of Ireland",Dame Street (Counter Missing),Dawson Street Replacement,"Doilier Street, Burgh Quay",...,Henry Street,Liffey Street,Mary Street,O'Connell St Outside Clerys,O'Connell St Outside Pennys,"O'Connell St, Parnell St @ AIB",Talbot Street North,Talbot Street South,Westmoreland Street East,Westmoreland Street West
0,01-01-2020 00:00:00,1600.0,868.0,277.0,1797.0,1494.0,893.0,1090.0,18.0,994.0,...,NaN,1180.0,60.0,2195.0,1662.0,821.0,109.0,1085.0,1577.0,2593.0
1,01-01-2020 01:00:00,858.0,727.0,214.0,594.0,676.0,1091.0,1148.0,7.0,745.0,...,NaN,1133.0,33.0,990.0,1160.0,469.0,53.0,1296.0,566.0,1917.0
2,01-01-2020 02:00:00,3499.0,930.0,219.0,429.0,523.0,1202.0,1052.0,15.0,710.0,...,NaN,898.0,51.0,856.0,1110.0,347.0,71.0,1848.0,474.0,1889.0
3,01-01-2020 03:00:00,1804.0,561.0,176.0,365.0,520.0,1115.0,899.0,8.0,1065.0,...,NaN,595.0,44.0,842.0,1095.0,373.0,49.0,1783.0,410.0,2101.0
4,01-01-2020 04:00:00,2562.0,269.0,98.0,176.0,238.0,1140.0,373.0,9.0,768.0,...,NaN,219.0,25.0,351.0,666.0,209.0,40.0,1705.0,120.0,873.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,31-12-2020 19:00:00,11.0,204.0,NaN,97.0,123.0,234.0,NaN,121.0,1399.0,...,1013.0,194.0,NaN,298.0,284.0,244.0,700.0,1757.0,70.0,296.0
8780,31-12-2020 20:00:00,30.0,91.0,NaN,59.0,64.0,153.0,NaN,81.0,1515.0,...,1377.0,153.0,NaN,207.0,200.0,197.0,325.0,949.0,44.0,274.0
8781,31-12-2020 21:00:00,139.0,85.0,NaN,48.0,71.0,164.0,NaN,129.0,1285.0,...,271.0,86.0,NaN,148.0,155.0,123.0,533.0,1303.0,38.0,288.0
8782,31-12-2020 22:00:00,162.0,44.0,NaN,35.0,62.0,139.0,NaN,120.0,886.0,...,213.0,66.0,NaN,142.0,149.0,92.0,478.0,1024.0,35.0,168.0
8783,31-12-2020 23:00:00,86.0,97.0,NaN,22.0,44.0,147.0,NaN,67.0,1643.0,...,141.0,67.0,NaN,119.0,109.0,64.0,594.0,577.0,65.0,155.0

In [92]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 23 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Aston Quay                                       8783 non-null   float64
 1   Bachelors Walk                                   8684 non-null   float64
 2   Capel Street - Removed from site 20/10           6791 non-null   float64
 3   College Green - Dame St Side                     8783 non-null   float64
 4   College Green @ Church Lane                      8783 non-null   float64
 5   College Green, Bank Of Ireland                   8783 non-null   float64
 6   Dame Street (Counter Missing)                    5897 non-null   float64
 7   Date & Time                                      8784 non-null   object
 8   Dawson Street Replacement                        8783 non-null   float64
 9   Doilier Street, Burgh Quay                       8783 non-null   float64
 10  Grafton Street                                   4197 non-null   float64
 11  Grafton Street / Nassau Street / Suffolk Street  8783 non-null   float64
 12  Grafton Street @ CompuB                          8783 non-null   float64
 13  Henry Street                                     7931 non-null   float64
 14  Liffey Street                                    8783 non-null   float64
 15  Mary Street                                      3431 non-null   float64
 16  O'Connell St Outside Clerys                      8783 non-null   float64
 17  O'Connell St Outside Pennys                      8783 non-null   float64
 18  O'Connell St, Parnell St @ AIB                   8783 non-null   float64
 19  Talbot Street North                              8783 non-null   float64
 20  Talbot Street South                              8783 non-null   float64
 21  Westmoreland Street East                         8783 non-null   float64
 22  Westmoreland Street West                         8783 non-null   float64
dtypes: float64(22), object(1)
memory usage: 1.5+ MB

In [23]:
data_2021 = pd.read_csv('raw_data/dcc-2021-pedestrian-footfall-31072021.csv')

In [90]:
data_2021 = data_2021.reindex(sorted(data_2021.columns), axis=1)

In [93]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5088 entries, 0 to 5087
Data columns (total 35 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Aston Quay/Fitzgeralds                           2796 non-null   float64
 1   Bachelors walk/Bachelors way                     5087 non-null   float64
 2   Baggot st lower/Wilton tce inbound               5079 non-null   float64
 3   Baggot st upper/Mespil rd/Bank                   5079 non-null   float64
 4   Capel st/Mary street                             816 non-null    float64
 5   College Green/Bank Of Ireland                    5060 non-null   float64
 6   College Green/Church Lane                        5087 non-null   float64
 7   College st/Westmoreland st                       5087 non-null   float64
 8   D'olier st/Burgh Quay                            5087 non-null   float64
 9   Dame Street/Londis                               816 non-null    float64
 10  Date and Time                                    5088 non-null   object
 11  Dawson Street/Molesworth                         5087 non-null   float64
 12  Grafton Street / Nassau Street / Suffolk Street  5087 non-null   float64
 13  Grafton Street/CompuB                            5033 non-null   float64
 14  Grafton st/Monsoon                               5078 non-null   float64
 15  Grand Canal st upp/Clanwilliam place             5078 non-null   float64
 16  Grand Canal st upp/Clanwilliam place/Google      5073 non-null   float64
 17  Henry Street/Coles Lane/Dunnes                   5087 non-null   float64
 18  Liffey st/Halfpenny Bridge                       5087 non-null   float64
 19  Mary st/Jervis st                                816 non-null    float64
 20  Newcomen Bridge/Charleville mall inbound         5075 non-null   float64
 21  Newcomen Bridge/Charleville mall outbound        5074 non-null   float64
 22  North Wall Quay/Samuel Beckett bridge East       5087 non-null   float64
 23  North Wall Quay/Samuel Beckett bridge West       5087 non-null   float64
 24  O'Connell St/Parnell St/AIB                      5087 non-null   float64
 25  O'Connell St/Pennys                              3640 non-null   float64
 26  O'Connell st/Princes st North                    5087 non-null   float64
 27  Phibsborough Rd/Enniskerry Road                  5087 non-null   float64
 28  Phibsborough Rd/Munster St                       798 non-null    float64
 29  Richmond st south/Portabello Harbour inbound     5079 non-null   float64
 30  Richmond st south/Portabello Harbour outbound    5080 non-null   float64
 31  Talbot st/Guineys                                5060 non-null   float64
 32  Talbot st/Murrays Pharmacy                       5087 non-null   float64
 33  Westmoreland Street East/Fleet street            5087 non-null   float64
 34  Westmoreland Street West/Carrolls                5087 non-null   float64
dtypes: float64(34), object(1)
memory usage: 1.4+ MB

# Liste des capteurs ajoutés en 2021

2   Baggot st lower/Wilton tce inbound               5079 non-null   float64
 3   Baggot st upper/Mespil rd/Bank 

 15  Grand Canal st upp/Clanwilliam place             5078 non-null   float64
 16  Grand Canal st upp/Clanwilliam place/Google

Newcomen Bridge/Charleville mall inbound         5075 non-null   float64
 21  Newcomen Bridge/Charleville mall outbound        5074 non-null   float64
 22  North Wall Quay/Samuel Beckett bridge East       5087 non-null   float64
 23  North Wall Quay/Samuel Beckett bridge Wes

27  Phibsborough Rd/Enniskerry Road                  5087 non-null   float64
 28  Phibsborough Rd/Munster St                       798 non-null    float64
 29  Richmond st south/Portabello Harbour inbound     5079 non-null   float64
 30  Richmond st south/Portabello Harbour outbound